/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-color: #fffcfc;
}
main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer img {
    margin-right: 0.5rem;
}

.index-item {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}
.jumbotron {
    background-color: #fffdfd;
}
.navbar-brand > span {
  color: #ff3b30;
}
.card em {
    /* Emphasis on words where the query hit. */
	background-color: #ffffb3;
}
.text-resultaten {
    /* align the result count with the card content */
	padding-left: 1.25rem;
}
