{% extends "layout.html" %}

{% block title %}Bronnen{% endblock %}


{% block content %}

  <div class="row">
    <div class="col">
      <p>
        Hier volgt een lijst met bronnen die in de dataset voorkomen. Hierbij hebben we gegroepeerd zonder
          suffixen zoals folionummer, pagina of regestnummer. Tussen haakjes staat het aantal documenten dat deze
          bron noemen. Deze lijst is gelimiteerd tot de 10&thinsp;000 meest voorkomende bronnen.
      </p>
    </div>
  </div>

  <div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="row">
        <div class="col">
            {% for bron in bronnen %}
                <a href="{{ url_for('search') }}?q=bron:&quot;{{ bron.key }}&quot;"
                    >{{ bron.key }}</a> ({{ bron.doc_count }})<br />
            {% endfor %}
        </div>
    </div>

  </div>
  </div>

{% endblock %}
