
{% extends "layout.html" %}


{% block css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
{% endblock %}


{% block title %}Collectie Groesbeek{% endblock %}


{% block content %}
  <div class="row mb-3">
    <div class="col">
      <form class="form-inline">
        <label>
          <span class="mr-1">Selecteer index</span>
          <select class="form-control" id="selectIndex">
            {% for doctype in doctypes %}
              <option value="{{ doctype.Index.name }}"
                      {% if doctype.Index.name == index_name %} selected{% endif %}
              >{{ doctype.get_index_name_pretty() }}</option>
            {% endfor %}
          </select>
        </label>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="tableWrapper"></div>
    </div>
  </div>

{% endblock %}


{% block js %}
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

  <script>
      $(document).ready(function () {
          let table;
          let selectIndex = $("#selectIndex");
          selectIndex.on("change", function() {
              $.getJSON(
                  '/api/columns/',
                  {
                      index: selectIndex.val(),
                  },
                  function(columns_definition) {
                      columns_definition.push(
                          {
                              data: "id",
                              title: "link",
                              orderable: false,
                              render: function(data, type, row, meta) {
                                  if (type === "display") {
                                      return `
                                          <a href="/doc/${data}" class="btn" target="_blank">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" style="display: inline-block; vertical-align: text-bottom;">
                                              <path fill-rule="evenodd" d="M4.75 4.5a.25.25 0 00-.25.25v3.5a.75.75 0 01-1.5 0v-3.5C3 3.784 3.784 3 4.75 3h3.5a.75.75 0 010 1.5h-3.5zM15 3.75a.75.75 0 01.75-.75h3.5c.966 0 1.75.784 1.75 1.75v3.5a.75.75 0 01-1.5 0v-3.5a.25.25 0 00-.25-.25h-3.5a.75.75 0 01-.75-.75zM3.75 15a.75.75 0 01.75.75v3.5c0 .138.112.25.25.25h3.5a.75.75 0 010 1.5h-3.5A1.75 1.75 0 013 19.25v-3.5a.75.75 0 01.75-.75zm16.5 0a.75.75 0 01.75.75v3.5A1.75 1.75 0 0119.25 21h-3.5a.75.75 0 010-1.5h3.5a.25.25 0 00.25-.25v-3.5a.75.75 0 01.75-.75z">
                                            </path>
                                            </svg>
                                        </a>
                                      `;
                                  } else {
                                      return data;
                                  }
                              }
                          }
                      );
                      if (table !== undefined) {
                          table.destroy(remove=true);
                      }
                      $("#tableWrapper").html(`<table id="tagTable" class="display" style="width:100%"></table>`);
                      table = $('#tagTable').DataTable({
                          order: [],
                          searching: false,
                          serverSide: true,
                          columns : columns_definition,
                          ajax: {
                              "url": "/api/rows/",
                              "type": "POST",
                              dataType: "json",
                              contentType: 'application/json',
                              data: function(d) {
                                  d["index"] = selectIndex.val();
                                  return JSON.stringify(d);
                              }
                          },
                      });
                  }
              );
          });

          selectIndex.trigger("change");

      });
  </script>
{% endblock %}
