
{% extends "layout.html" %}

{% block title %}Zoekresultaten{% endblock %}


{% block content %}

  {% if suggestions %}
    <div class="row mb-4">
      <div class="col-md-8 offset-md-2">
        <p>Bedoelde u soms?</p>
        {% for suggestion in suggestions %}
          <a href="/?q={{ q }}+{{ suggestion }}">{{ suggestion }}</a>
          {% if not loop.last %} | {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

    {% if hits_total %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="text-resultaten text-muted">
                    {{ hits_total }} resultaten
                </p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for hit in hits %}
                <div class="card mb-5">
                    <div class="card-body">
                        <h4 class="card-title" title="id: {{ hit.id }}, score: {{ hit.meta.score }}">
                            {{ hit.naam|safe }}
                            {% if hit.datum %}
                                | {{ hit.datum|safe }}
                            {% endif %}
                        </h4>
                        {% if hit.bron %}
                            <h5 class="text-muted m-b-1">{{ hit.bron|safe }}</h5>
                        {% endif %}
                        {% if hit.inhoud %}
                        <p class="card-text">{{ hit.inhoud|safe }}</p>
                        {% endif %}
                        {% if hit.getuigen %}
                            <p class="card-text">{{ hit.getuigen|safe }}</p>
                        {% endif %}
                        {% if hit.bijzonderheden %}
                            <p class="card-text">{{ hit.bijzonderheden }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if page %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_range|length > 0 and page > page_range[0] %}
                    <li class="page-item">
                        <a class="page-link" href="{{ query_string }}{{ page - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% for number in page_range %}
                    {% if number == page %}
                        <li class="page-item active"><a class="page-link" href="" style="pointer-events: none;">{{number}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{query_string}}{{number}}">{{number}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_range|length > 1 and page < page_range[-1] %}
                    <li class="page-item">
                        <a class="page-link" href="{{ query_string }}{{ page + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
