
{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block title %}Collectie Groesbeek{% endblock %}


{% block content %}

{{ macros.jumbotron_search(show_search) }}

<div class="index-item border-bottom">
<div class="row">
    <div class="col-md-12 section-heading">
        <h1>Over de collectie</h1>
        <p class="lead">
            De collectie Groesbeek is een kaartsysteem, samengesteld tussen 1925 en 1994 door
            mr.&nbsp;J.W.&nbsp;Groesbeek.
        </p>
        <p>
            Hij heeft gedurende zijn leven van allerlei akten en andere geschiedkundige stukken
            aantekeningen gemaakt en deze in zijn persoonlijke kaartsysteem opgeslagen. Als
            rijksarchivaris van de provincie Noord-Holland heeft hij hier verder aan gewerkt, en het
            archief gebruikt voor verschillende publicaties.
        </p>
        <p>
            De collectie heeft een brede opzet en bevat informatie over archiefstukken van de
            middeleeuwen tot ongeveer 1800. Het is opgedeeld in meerdere delen: geslachtsnamen,
            voornamen met een patroniem, steden en dorpen, belastingquohiers en transportregisters van
            diverse plaatsen, vooral in Noord- en Zuid- Holland. Iedere kaart bevat een bronverwijzing,
            sommmigen hebben een korte inhoud, maar de meesten bevatten volledige aktes.
        </p>
        <p>
            Er zitten naar schatting 150&nbsp;000 kaartjes in de collectie. Hiervan zijn er op dit moment
            {{ n_total_docs|safe }}
            gedigitaliseerd en in deze website opgenomen. Er wordt ondertussen verder gewerkt aan het
            digitaliseren. Ook wordt er gewerkt aan de digitalisering van het deel van de Collectie
            Groesbeek betreffende de stad Haarlem die zich in het Noord-Hollandsarchief bevindt.
        </p>
    </div>
</div>
    </div>


<div class="index-item border-bottom">
<div class="row">
    <div class="col-md-4">
        <h3>Inhoud</h3>
        <p>Van sommige kaartjes zijn niet alle velden gevuld, dan was deze informatie niet beschikbaar.</p>
        <p>Familienamen zijn waar mogelijk eenduidig gehouden. In de inhoud kan deze op verschillende manieren geschreven zijn. Bijvoorbeeld: k&nbsp;=&nbsp;c en y&nbsp;=&nbsp;ie&nbsp;of&nbsp;i&nbsp;of&nbsp;ij (Brien&nbsp;=&nbsp;Bryn).</p>
        <p>De tabellen zijn eerst gesorteerd op naam en vervolgens op jaartal, al is dit niet overal consequent.</p>
        <p>De oude bronaanduiding is gehandhaafd, dit kan verschillen met wat nu gebruikelijk is.</p>
    </div>
    <div class="col-md-4">
        <h3>Tekens</h3>
        <p>x betekent gehuwd met</p>
        <p>; scheidt verschillende bronnen</p>
        <p>/ betekent twee verschillende bronnen over hetzelfde onderwerp</p>
        <p>~ achter een jaartal geeft onzekerheid aan</p>
        <p>< en > betekent voor respectievelijk na de genoemde datum</p>
        <p>[ ]  bevatten commentaar van de auteur</p>
    </div>
    <div class="col-md-4">
        <h3>Gebruik</h3>
        <p>Het zoekvak bovenin kan gebruikt worden om de database te doorzoeken.</p>
        <p>Er kan op alles gezocht worden: namen, jaartallen, plaatsen of bronnen.</p>
        <p>Door te zoeken op &eacute;&eacute;n of twee letters wordt een lijst met namen weergegeven.</p>
        <p>Er kan een jaartalbereik worden ingevoerd met het koppelteken, e.g. 1400-1534.</p>
    </div>
</div>
    </div>


<div>
    <div class="row">
        <div class="col-md-4">
            <h3>Namenindex</h3>
            <p>De namenindex is geneologisch van aard en bestaat uit naar schatting 100&nbsp;000 kaartjes.
                Hiervan is nu 50&nbsp;% gedigitaliseerd, vooral het oudste deel.</p>
        </div>
        <div class="col-md-6 offset-md-2">
            <img class="img-fluid" src="/static/img/rijksarchivaris_groesbeek.jpg">
        </div>
    </div>
</div>


{% endblock %}
