{% extends "layout.html" %}

{% block title %}Namenlijst{% endblock %}


{% block css %}
  <style>
      .name-list {
          list-style-type: none;
          padding: 0;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>Namen</h1>
      <p>
        Deze lijst bevat namen die op automatische wijze uit inhoud van de Namenindex en Voornamenindex zijn gehaald.
        Hiermee kan je een overzicht krijgen van alle aanwezige namen. We zullen deze lijst ook gaan gebruiken om het
        zoeken te verbeteren. Bedenk wel dat de automatische extractie niet perfect is, dus er kunnen fouten in zitten,
        zoals woorden die geen namen zijn, afgebroken namen, of namen die eigenlijk een geografische aanduiding zijn.
      </p>
      <p>
          Zoeken gaat op de exacte letters van elk woord, vanaf het begin van elk woord gezien. Je kan op meerdere
          woorden tegelijk zoeken.
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 offset-md-1 col-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-addon">Zoek</span>
        </div>
        <input type="text" class="form-control" id="searchInput"
               aria-label="Search" aria-describedby="search-addon"
               value="{{ query }}">
      </div>
      <nav>
        <ul id="pagination" class="pagination mt-3 justify-content-center">
            <!-- Pagination buttons will be added here -->
        </ul>
      </nav>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 offset-md-2 col-10 offset-1">
      <ul id="myList" class="name-list">
        <!-- Content will be added here -->
      </ul>
    </div>
  </div>

{% endblock %}


{% block js %}
  <script>
      let debounceTimeout;
      let currentPage = {{ page }};
      document.getElementById('searchInput').addEventListener('input', function() {
          clearTimeout(debounceTimeout);
          debounceTimeout = setTimeout(function() {
            currentPage = 1; // Reset to page 1 when a new search is made
            searchName();
        }, 300);
      });

      async function searchName() {
          let input = document.getElementById('searchInput');
          let query = input.value;
          let response = await fetch(`{{ url_for('search_names_ner') }}?q=${query}&page=${currentPage}`);
          let data = await response.json();

          history.replaceState({} , '', createUrl(query, currentPage));

          let list = document.getElementById('myList');
          list.innerHTML = ''; // Clear the list
          for (let name of data.names) {
              let li = document.createElement('li');
              li.textContent = name;
              list.appendChild(li);
          }

          let pagination = document.getElementById('pagination');
          pagination.innerHTML = ''; // Clear pagination

          let startPage = Math.max(currentPage - 2, 1);
          let endPage = Math.min(currentPage + 2, data.total_pages);

          // Add first page button
          addPageButton(pagination, 1, query);
          if (startPage > 2) addPageEllipsis(pagination);

          // Add intermediate page buttons
          for (let i = startPage; i <= endPage; i++) {
              if (i !== 1 && i !== data.total_pages) addPageButton(pagination, i, query);
          }

          if (endPage < data.total_pages - 1) addPageEllipsis(pagination);
          if (data.total_pages > 1) {
              addPageButton(pagination, data.total_pages, query);
          }
      }

      function createUrl(query, page) {
          let query_params = {};
          if (query.length > 0) query_params["q"] = query;
          if (page > 1) query_params["page"] = page;
          let url = '{{ url_for('names_ner') }}';
          if (Object.keys(query_params).length > 0) {
              url += '?' + new URLSearchParams(query_params).toString();
          }
          return(url)
      }

      function addPageButton(pagination, pageNumber, query) {
          let li = document.createElement('li');
          li.className = 'page-item';
          if (pageNumber === currentPage) li.classList.add('active');

          let a = document.createElement('a');
          a.className = 'page-link';
          a.textContent = pageNumber;
          a.href = createUrl(query, pageNumber);
          a.addEventListener('click', function(e) {
              e.preventDefault();
              currentPage = pageNumber;
              searchName();
          });

          li.appendChild(a);
          pagination.appendChild(li);
      }

      function addPageEllipsis(pagination) {
          let li = document.createElement('li');
          li.className = 'page-item disabled';

          let a = document.createElement('a');
          a.className = 'page-link';
          a.textContent = '...';

          li.appendChild(a);
          pagination.appendChild(li);
      }

      searchName()

  </script>
{% endblock %}
