
{% extends "layout.html" %}

{% block title %}Publicaties{% endblock %}


{% block content %}

<div class="index-item border-bottom">
  <div class="row">
      <div class="col-md-12 section-heading">
          <h1>Publicaties</h1>


      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Publicatie</th>
            <th scope="col">Jaar</th>
          </tr>
        </thead>
        <tbody>
        {% for item in publicaties %}
          <tr>
            <td style="padding:0">
              <a href="{{ item.publicatie }}" style="display:block; padding:0.75rem">{{ item.title }}</a>
            </td>
            <td>{{ item.year }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
  </div>
</div>


{% endblock %}
