
{% extends "layout.html" %}

{% block css %}
    <style>
        table {
            border-spacing: 5px;
            border-collapse: separate;
            margin-bottom: 1rem;
        }
        table p {
            margin-bottom: 0;
        }
        thead th:nth-child(3) {
          width: 15%;
        }
    </style>

{% endblock css %}

{% block title %}{{ publicatie }}{% endblock %}


{% block content %}

<div class="index-item border-bottom">
  <div class="row">
      <div class="col-md-12 section-heading">
          {% include template_path %}
      </div>
  </div>
</div>


{% endblock %}
